body {
    margin-top: 50px;
    min-width: 400px;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    position: absolute;
    background-color: coral;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    border: solid mediumseagreen;
    box-sizing: border-box;
}

.meni {
    position: relative;
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    padding-top: 60px;
    box-sizing: border-box
}

    .meni ul {
        padding: 10px 2.5%;
        padding-bottom: 5px;
        margin: 0
    }

        .meni ul li a {
            color: black;
        }

        .meni ul li {
            display: inline;
            box-sizing: border-box;
            padding: 0px 2.5%;
        }

        .meni ul .current a:any-link {
            text-decoration: none
        }

        .sadrzaj {
            background-color: cornflowerblue;
            border: solid mediumseagreen;
            margin: 20px auto;
            box-sizing: border-box
        }

        .tabelaOsoba {
            margin: 1% auto;
            border-collapse: collapse;
            border: 2px solid black;
        }

        th, td {
            border: 2px solid black;
        }

        .naslov {
            background-color:  rgb(135, 196, 162);
            text-align: center;
            font-size: larger;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 50px;
            padding-right: 50px;
        }

        .polje {
            background-color: white;
            text-align: center;
            font-weight: normal;
            vertical-align: middle;
            min-width: 40px;
            height: 40px;
        }