﻿body {
    margin-top: 50px;
    min-width: 400px;
}

.logo > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    position: absolute;
    background-color: coral;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    border: solid mediumseagreen;
    box-sizing: border-box;
}

.meni {
    position: relative;
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    padding-top: 60px;
    box-sizing: border-box
}

    .meni ul {
        padding: 10px 2.5%;
        padding-bottom: 5px;
        margin: 0
    }

        .meni ul li a {
            color: black;
        }

        .meni ul li {
            display: inline;
            box-sizing: border-box;
            padding: 0px 2.5%;
        }

        .meni ul .current a:any-link {
            text-decoration: none
        }

.sadrzaj {
    display: block;
    background-color: cornflowerblue;
    margin: 20px auto;
    text-align: center;
    border: solid mediumseagreen ;
    box-sizing: border-box;
}

.slike {
    display: inline;
    box-sizing: border-box;
}

.slika {
    margin: 10px;
    width: 400px;
    height: 200px;
}

.dugmad {
    margin: 0;
    padding: 1% 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

button {
    border: 2px solid royalblue;
    background-color: lightsteelblue;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 0.5%;
    width: 10%;
}

@media (max-width: 600px) {



    .meni {
        position: relative;
        background-color: cornflowerblue;
        border: solid mediumseagreen;
        padding-top: 40px;
        box-sizing: border-box
    }

        .meni ul {
            margin: 0 auto;
            text-align: center
        }

            .meni ul li a {
                color: black;
            }

            .meni ul li {
                display: block;
                padding: 5px 0px;
            }

    .sadrzaj {
        text-align: center;
    }

    .slika {
        width: 320px;
        height: 160px;
    }

}
