﻿body {
    margin-top: 50px;
    min-width: 500px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    position: absolute;
    background-color: coral;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    border: solid mediumseagreen;
    box-sizing: border-box;
}

.meni {
    position: relative;
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    padding-top: 60px;
    box-sizing: border-box
}

    .meni ul {
        padding: 10px 2.5%;
        padding-bottom: 5px;
        margin: 0
    }

        .meni ul li a {
            color: black;
        }

        .meni ul li {
            display: inline;
            box-sizing: border-box;
            padding: 0px 2.5%;
        }

        .meni ul .current a:any-link {
            text-decoration: none
        }

.sadrzaj {
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    margin: 20px auto;
    box-sizing: border-box
}

form {
    margin: auto;
    box-sizing: border-box;
}

    form > div {
        float: none;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10px;
        margin-bottom: 10px
    }



label {
    padding: 5px;
    vertical-align: middle;
    min-width: 280px;
    text-align: right;
}

input[type="time"], select {
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    width: 30%;
    margin-left: 20px;
}

input[type="checkbox"] {
    transform: scale(1.5);
    margin-left: 5px;
}

select
{
    width: 10%;
}

label[for="period"]
{
    padding: unset;
    padding-right: 25px;
    vertical-align: unset
}

.tabela {
    display: flex;
    margin: auto;
    box-sizing: border-box;
}

.tabela2 {
    margin: auto;
    width: 60%;
}

table {
    margin: auto;
    width: 100%;
    border: 2px solid royalblue;
    background-color: lightsteelblue;
    border-collapse: separate;
    border-spacing: 10px;
    box-sizing: border-box;
}

th {
    text-align: left;
    font-size: large;
}

td.naziv_dana {
    width: 14.28%;
}

td.naziv_dana, td.dan {
    border: 2px solid royalblue;
    text-align: center;
    box-sizing: border-box;
    padding: 0;
}

td.dan {
    background-color: white;
    empty-cells: hide;
}

.slobodna::after
{
    box-sizing: border-box;
    display: block;
    content: "";
    background-color: lawngreen;
    height: 20px;
    border-top: 2px solid royalblue;
}

.zauzeta::after {
    box-sizing: border-box;
    display: block;
    content: "";
    background-color: orangered;
    height: 20px;
    border-top: 2px solid royalblue;
}

.dugmad {
    margin: 0;
    padding: 1% 0;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-between;
}

button {
    border: 2px solid royalblue;
    background-color: lightsteelblue;
    box-sizing: border-box;
    text-align: center;
    font-weight: 600;
    padding: 0.5%;
    width: 20%;
}


@media (max-width: 600px) {



    .meni {
        position: relative;
        background-color: cornflowerblue;
        border: solid mediumseagreen;
        padding-top: 40px;
        box-sizing: border-box
    }

        .meni ul {
            margin: 0 auto;
            text-align: center
        }

            .meni ul li a {
                color: black;
            }

            .meni ul li {
                display: block;
                padding: 5px 0px;
            }


        form > div {
            flex-direction: column
        }

    label {
        text-align: left;
        margin-left: 15px;
    }

    input[type="checkbox"] {
        margin-left: 20px;
    }

    .prava_tabela {
        display: grid;
        margin: auto;
    }

    .dani {
        display: inline-block;
        width: 35%;
        margin: 0 5%;
        box-sizing: border-box;
    }


    td.naziv_dana {
        display: block;
        width: auto;
        height: 40px;
        margin: 10px 10px;
        box-sizing: border-box;
        text-align: center;
        padding: 7.5%;
    }


    .sedmica {
        display: inline-block;
        width: 35%;
        margin: 0 5%;
        box-sizing: border-box;
    }

    .slobodna::after, .zauzeta::after {
        height: 17px;
    }

    td.dan {
        display: block;
        width: auto;
        height: 40px;
        margin: 10px 10px;
        box-sizing: border-box;
    }

    .hide {
        display: none;
    }

    button {
         font-size: 14px !important;
    min-width: 120px !important;
    }


}


