﻿body {
    margin-top: 50px;
    min-width: 400px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.logo {
    position: absolute;
    background-color: coral;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    border: solid mediumseagreen;
    box-sizing: border-box;
}

.meni {
    position: relative;
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    padding-top: 60px;
    box-sizing: border-box
}

    .meni ul {
        padding: 10px 2.5%;
        padding-bottom: 5px;
        margin: 0
    }

.meni ul li a
{
    color: black;
}

.meni ul li {
    display: inline;
    box-sizing: border-box;
    padding: 0px 2.5%;
}

.meni ul .current a:any-link {
    text-decoration: none
}

.sadrzaj {
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    margin: 20px auto;
    box-sizing: border-box
}

.tabelaSala {
    margin: 1% auto;
    border-collapse: collapse
}

.headerSprat {
    background-color: darkgray;
    text-align: right;
    font-size: larger;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 10px;
}

th.headerSprat {
    text-align: center;
    font-weight: normal;
    font-size: medium;
    padding: 15px 50px
}

.headerRedni {
    background-color: lightgray;
    padding-top: 15px;
    padding-bottom: 12.5px;
    padding-left: 10px;
    padding-right: 12.5px;
    font-size: smaller;
    text-align: left
}

th.headerRedni {
    padding-bottom: 2.5px;
    vertical-align: bottom;
    font-weight: normal;
    font-size: medium
}

.sala {
    background-color: white;
    font-size: smaller;
    text-align: left;
    vertical-align: text-top;
    min-width: 40px;
    height: 40px;
}

.slobodnaSala
{
    background-color: lawngreen
}

.zauzetaSala
{
    background-color: coral
}

.kancelarija 
{
    background-color: lightslategray
}

table, td {
    border: solid 1px black;
}

.prazni {
    border-left: hidden;
    border-top: hidden;
    border-right: solid 1px mediumseagreen
}

td.headerSprat {
    border-top: solid 1px lightgray;
    border-right: solid 1px white
}

th.headerSprat {
    border-right: solid 1px white;
    border-top: solid 1px white;
    border-bottom: solid 1px lightgray;
}


@media (max-width: 600px) {

    .meni {
        position: relative;
        background-color: cornflowerblue;
        border: solid mediumseagreen;
        padding-top: 40px;
        box-sizing: border-box
    }

        .meni ul {
            margin: 0 auto;
            text-align: center
        }

            .meni ul li a {
                color: black;
            }

            .meni ul li {
                display: block;
                padding: 5px 0px;
            }

    td.headerSprat, .headerRedni, .prazni, th.headerSprat
    {
        display: none;
    }

}

