﻿body {
    margin-top: 50px;
    min-width: 400px;
}

.logo {
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: -40px;
    margin-left: -40px;
    border: solid mediumseagreen;
    box-sizing: border-box;
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.meni {
    position: relative;
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    padding-top: 60px;
    box-sizing: border-box
}

    .meni ul {
        padding: 10px 2.5%;
        padding-bottom: 5px;
        margin: 0
    }

.meni ul li a
{
    color: black;
}

.meni ul li {
    display: inline;
    box-sizing: border-box;
    padding: 0px 2.5%;
}

.meni ul .current a:any-link {
    text-decoration: none
}

.sadrzaj {
    background-color: cornflowerblue;
    border: solid mediumseagreen;
    margin: 20px auto;
    box-sizing: border-box;
    
}

form {
    padding: 50px;
    box-sizing: border-box;
}

form > div {
    float: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}

label {
    padding: 5px;
    vertical-align: middle;
    min-width: 120px;
    text-align: right;
}

input {
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    width: 30%;
    margin-left: 20px;
}

    input[type="submit"] {  
        width: 10%;
        padding: 5px 0;
    }


@media (max-width: 600px) {

    .meni {
        position: relative;
        background-color: cornflowerblue;
        border: solid mediumseagreen;
        padding-top: 40px;
        box-sizing: border-box
    }

        .meni ul {
            margin: 0 auto;
            text-align: center
        }

            .meni ul li a {
                color: black;
            }

            .meni ul li {
                display: block;
                padding: 5px 0px;
            }

    form{
        padding: 25px 50px;
    }

    form > div {
        flex-direction : column
    }

    label
    {
        text-align: left;
        margin-left: 15px;
    }


}